body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:  #f4f4f4;
}

.new-text {
    color: black;
    font-size: 15px;
    display: inline-block;
    width: auto;
    font-weight: bold;
    margin-right: 15px; 
    margin-top: 48px;
}
p{
    font-size: 10px;
    padding-left: 60px;

}
.social-image{
    height: 50px;
    width: 70px;
    
}
.icon-container {
    text-align: left;
}

.icon {
    display: inline-block; 
    margin: 20px; 
    text-align: left; 
}

.icon i {
    font-size: 30px; 
}

.icon p {
    margin-top: 10px;
    font-size: 8px; 
}
.icon a {
    font-size: 10px; 
}


