body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:  #f4f4f4;
}

header h1 {
    font-size: 18px;
}

.logo-container {
    display: flex;
    align-items: center;
    color: black;
}

.resim {
    height: 50px;
    margin-right: 20px;
}

.language-bookmark {
    display: flex;
    align-items: center;
}

.language, .bookmark {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 12px;
}

.internship-info {
    text-align: center;
    margin: 50px 0;
}

.internship-info h2 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    border-bottom: 2px solid #333;
    display: inline-block;
}

.logo-container h1 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

h4 {
    font-size: 15px;
}

ul li {
    font-size: 15px;
}

.slides1 img, .slides2 img {
    margin-top: 30px;
    max-width: 70%; 
    height: auto; 
    display: none;
}

.slides1 img.active, .slides2 img.active1 {
    display: block; 
}

.slider1, .slider2 {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.left1 {
    left: 100px; 
}

.right1 {
    right: 520px;
}

.left2 {
    left: 210px; 
}

.right2 {
    right: 560px;
}
