body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.left-text {
    color: black;
    font-size: 25px;
    display: inline-block;
    width: auto;
    font-weight: bold;
    margin-right: 15px; 
    margin-top: 10px;
}

.right-text {
    color: black;
    font-size: 20px;
    display: inline-block; 
    margin-top: 10px;
}

img {
    margin-top: 15px;
    margin-left: 40px;

}

header {
    display: flex;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    background-color: white; 
}

.navbar {
    text-align: center;
    margin-top: 20px; 
}

.navbar ul {
    padding: 0; 
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px; 
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
}

.navbar ul li a.active,
.navbar ul li a:hover {
    background: #aaa;
    border-radius: 2px;
}

.profile {
    margin: 30px auto; 
    text-align: center;
}

.profile-image {
    border-radius: 50%; 
    width: 300px; 
    height: 300px; 
}

.introduction h2 {
    margin: 10px 0;
}

.introduction h3 {
    margin: 5px 0; 
}
p{
    font-size: 20px;
}
section {
    padding: 50px;
    margin: 50px 0;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
}
.fa fa-download{
    margin-left: 20px;
}
.download-link {
    font-size: 24px; 
    margin-left: 60px; 
    text-decoration: none; 
    color: black; 
}

.download-link i {
    font-size: 24px; 
    margin-right: 8px; 
}
